//
//  Debug.xcconfig
//  AppSeed
//
//  Created by tunay alver on 2.09.2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.devno39.AppSeed.debug
PRODUCT_APP_NAME = AppSeed-debug
API_BASE_PATH = https:/$()/
